.idea
.vscode
.VSCodeCounter
*.sh
mongo
node_modules/
docs/architecture
docs/reviews
docs/todo
docs/frontend
llmStart.txt
instructions.txt
YT_Video_Transcript.txt
classSlides.pptx
MONITOR_DOWN_NOTIFICATION_FLOW.md
chat.json
submissionScreenshot.png
